li {
list-style: none;
padding-left: 20px;
}
.chau {
background: url(../images/chau.png) no-repeat left center*/
ackground: rl(http://static.bratabase.com/images/icon-tag.png) no-repeat left center;
}
.hola {
background: url(../images/hola.png) no-repeat left center;
}
